.card-repo {
	display: none;
	background: white;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
	margin-bottom: 20px;
	
	&.active {
		display: block;
	}

	.header {
		background: #ffc200;
		color: white;
		font-weight: bold;
		padding: 15px;
		position: relative;

		a {
			color: white;
			text-decoration: none;
		}

		.image {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 52px;
			
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.content {
		padding: 15px;

		p {
			font-size: 14px;
			line-height: 20px;
		}
	}
}